body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body {
  background-color: #d0d7fe;
}

.whiteBox {
  max-height: 786px;
  max-width: 1058px;
  margin: 119px auto;
  background-color: #ffffff;
}

.content {
  max-width: 700px;
  max-height: 570px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 124px;
  padding-top: 87px;
}

.title {
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  font-family: 'Kanit', sans-serif;
  font-weight: 700;
  font-size: 30px;
  letter-spacing: 0.035em;
  color: #09165f;
}

.inputBar {
  padding: 31px 0;
  position: relative;
}
.inputBar input {
  width: 100%;
  height: 56px;
  background-color: #f3f5ff;
  border-radius: 50px;
  border: none;
  padding-left: 24px;
  padding-right: 56px;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #09165f;
  box-sizing: border-box;
}
.inputBar input::placeholder {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #b5b5b5;
}

.listDescription {
  padding-bottom: 7px;
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #09165f;
  padding-left: 24px;
}

.list {
  max-height: 392px;
  margin-left: 0;
  padding-left: 0;
  padding-right: 35px;
  margin-right: -39px;
  overflow-y: scroll;
}
.list li {
  list-style-type: none;
  border-bottom: 1px solid #dadada;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 7px 0 7px 24px;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #09165f;
}

.defaultButtonStyle {
  border-radius: 50px;
  border: none;
  background-color: #536dff;
  color: white;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  padding: 10px;
  line-height: 21px;
}

.list::-webkit-scrollbar {
  width: 4px;
  background: #eeeeee;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: #c2c2c2;
  border-radius: 10px;
}
.taskDone span {
  text-decoration: line-through;
  color: #b5b5b5;
}
.taskDone button {
  background-color: #ffffff;
  border: 2px solid #089216;
  font-size: 0;
  line-height: 0;
  padding: 10px 8px;
  margin: 3.5px 13px 3.5px 0;
}

.taskDone button:after {
  content: url('images/Done.png');
}
